.menu {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
  width: 100%;
  max-width: 1300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.menu-items li {
  text-align: center;
  padding: 0.2rem;
  margin: 0.5rem 0;
}

.menu-items li::before {
  content: "";
}


.menu-items a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}

.menu-items a:hover {
  text-decoration: none;
}

.burger-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.desktop-only {
  display: none;
}

.menu-right {
  display: flex;
  align-items: center;
}

.lang-btn-mobile {
  margin-right: 10px;
}


.logo {
  height: 40px;
}

@media (min-width: 1200px) {
  .desktop-only {
    display: flex;
    gap: 1.5rem;
    margin: 0;
  }

  .mobile-only {
    display: none;
  }

  .menu-items {
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .menu-items li {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-right {
    display: flex;
    align-items: center;
  }

  .burger-btn {
    order: 2;
    color: black;
  }

  .burger-btn:hover,
  .burger-btn:focus {
    background-color: transparent;
  }

  .lang-btn-mobile {
    order: 1;
  }

  .menu-items {
    margin-top: 10px;
  }

  .menu-items li {
    margin: 0.5rem 0;
  }

  .logo {
    height: 40px;
  }
}