.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.logo-wrapper {
    width: 187px;
    height: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 8px;
    transition: transform 0.2s ease-in-out;
}

.logo-wrapper:hover {
    transform: scale(1.05);
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter 0.3s ease;
}

.logo-wrapper:hover img {
    filter: grayscale(0%);
}

.logo-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


@media (max-width: 1040px) {
    .wrapper {
        padding: 40px 20px;
    }

    .logo-wrapper {
        width: 150px;
        height: 150px;
        padding: 12px;
    }
}

@media (max-width: 845px) {

    #background h1 {
        width: 100%;
    }

    #background .textBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logo-container {
        max-width: 600px;
    }
}

@media (max-width: 650px) {
    .wrapper {
        padding: 30px 15px;
    }

    .logo-container {
        max-width: 500px;
    }

    .logo-wrapper {
        width: 125px;
        height: 125px;
        padding: 10px;
    } 
}