.timeline {
  position: relative;
  margin: 2rem 0;
  padding-left: 2rem; 
  left: -40px;
  margin-right: -40px; 
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 47px; 
  width: 2px;
  height: 100%;
  background: #ccc;
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 2rem; 
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 8px; 
  top: 0.16rem; 
  width: 12px;
  height: 12px;
  background-color: #239ea5;
  border-radius: 50%;
  border: 2px solid white;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

.timeline-content {
  padding: 0.5rem 1rem;
  background: #ffffff;
  border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.timeline-title {
  margin: 0;
  font-size: 1.1rem;
}

.timeline-tags {
  margin: 0.5rem 0;
}

.timeline-tag {
  display: inline-block;
  margin-right: 0.5rem;
  background-color: #239ea5;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  font-size: 0.8rem;
}

.timeline-description {
  margin: 0.5rem 0 0 0;
}

.timeline-publications {
  margin: 0.5rem 0 0 0;
}

.timeline a {
  text-decoration: underline;
  color:black;
}

.timeline a:hover {
  text-decoration: underline;
    color: #916280;
}
