/* Global Font Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f4f7fb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 1rem;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
}

.textBlock {
  max-width: 1000px;
  width: 100%;
}


html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}


a {
  color: #239ea5;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  line-height: 1;
}

a:hover {
  color: #916280;
  text-decoration: underline;
}

button {
  font-family: inherit;
  font-size: 1rem;
  background-color: white;
  color: #239ea5;
  border: 1.5px solid #239ea5;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  color: #916280;
  border-color: #916280;
}

button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  padding-top:1rem;
}

h3 {
  font-size: 1.75rem;
  letter-spacing: 0px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

ul {
  list-style: none;
  padding-left: 0; 
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

ul li {
  position: relative;          
  padding-left: 1.5em;        
  margin-bottom: 0.5rem;
}

ul strong {
  font-weight: 600;
  color: #239ea5;  
}

li::before {
  position: absolute;
  left: 0;
  width: 1em;
  display: inline-block;
  color: #239ea5;
  font-weight: bold;
  content: "\25B8";
}


hr {
  border: none;              
  height: 1px;               
  background: #239ea5;  
  margin: 2rem 0;            
}
@media print {
    .menu {
        display: none !important;
    }
}